body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 16px 250px;
    margin: 0;
}

.hlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.headerone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headertwo {
    display: flex;
    padding: 100px 0;
    gap: 50px;
    
}

.leftbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    height: auto;
}

.image {
    width: 50%;
    height: auto;
}

.subutton {
    padding: 8px 16px;
    background-color: #3882F6;
    border-radius: 8px;
    width: fit-content;
}

.hlinks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;    
}

a {
   text-decoration: none;
   color: #e5e7eb;
   font-size: 18px;
}

.firstline {
    font-size: 48px;
    font-weight: bolder;
}

.bodyone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardbox {
    display: flex;
    gap: 32px;
    padding-bottom: 64px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bodyoneheader {
    font-size: 36px;
    font-weight: 1000;
    padding: 36px 0;
    opacity: 0.7;
}

.picture {
    border: 3px solid #3882F6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.text {
    width: 150px;
    text-align: center;
    color: grey;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 128px 256px;
}

.quotetext {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.auoteauthor {
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
}